<% if logged_in? %>
<div class= "row">
  <div class="col-md-9">
    <div class="card bg-light border-success">

      <div class="card-header text-center border-success">
        <h3 class="blogFeedTitle">BLOGS</h3>
      </div>
      <div class="card-body">
        <%= render 'static_pages/front_page'%>
      </div>
    </div>
  
</div>
<div class="col-md-3">

  <%= render 'shared/new_exercise'%>
</div>
</div>
<% else %>
<div class="jumbotron">
  <h1 class="display-4"> This is not a header nor a footer, so it is a main</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-dark"%>
</div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/13769353_779921278777939_2632977328683033268_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeEO176ijzUb_flz71tYY81GN7LBgwED98a7U_X5IHwTaovs0eCZ200xw4O2m3jh5J0L86VqCJU4x_x4DbmWKJcvoqcDyGngRPnfPIMkRadRFA&oh=ed990e30df11ca8f980bd2da1e7f684c&oe=5B6A1B0F" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Xao lin boy :)</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/14671239_1555397147809595_3384949800604672507_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeG_CiriKIKAdXXj_rcq7_G1Qj-46GK63B3FHWxJkovjAsEswMBiN2k2uaYIj2zMN-iyIrrImATIdu5X0oFD8FpRt09h7OXEFtSQ1qamrLLMyQ&oh=1d12d0d7a5102cf8cbefda3d5a6e59d8&oe=5B64D309" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Xao lin boy :)</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/21270857_1495698620497838_1440703802558778812_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeGuRBNj9ff78p0GLUq2sj6eYSnUOS__PJbIGVQk62YdKBHOqNenMAnUoOJv38OAiDRhc5O51VNMuNJInAPYSN_RBFr8uP0obOnTqxqarwaS7A&oh=7b6b843de6201eabd03712f8111c5816&oe=5B64C008" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Di Nhat xao lin boy :)</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/17991813_773606439466264_531371590273056217_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeHm3I8Ex8wLqisz5bJxfdHRkFgbk1WL0-7VIwlFloRUISZO2IVDR6hVN3_IaA23-LTZsgr1QyYekffZDCWzvVci0qZdbtZ0mAapeppVlDRMDA&oh=dd188bb8a2b283c40d661763a1add7e1&oe=5B592204" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Xao lin boy :)</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-0/p206x206/22089452_2004081206499409_6420289550707513312_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeEj1deE7mk7Fyf5bJWdC67vlyG9vij_0AAHCYOyUjLy2JLtqhaIELh_j1XtPruw2M_GBb3ehV-V0JzR-oFIIF4S7EIOehI3qM_rNbAkPVcoYw&oh=dcd89b8d1b2e90cd82fe127d980130b6&oe=5B600816" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Xao lin boy :)</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
<% end %>