<div class= "row">
  <div class="col-md-9">
    <div class="card bg-light border-success">

      <div class="card-header text-center border-success">
        <h3 class="blogFeedTitle">BLOGS</h3>
      </div>
      <div class="card-body">
        <%= render 'static_pages/front_page'%>
      </div>
    </div>
  
</div>
<div class="col-md-3">

  <%= render 'shared/new_exercise'%>
</div>
</div>