<% if logged_in? %>
  <div>
    <aside>
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/blog_form' %>
      </section>
    </aside>
    <div>
      <h3>Blog Feed</h3>
      <%= render 'shared/feed' %>
    </div>    
  </div>
<% else %>
<div>

  <h1> This is not a header nor a footer, so it is a main</h1>
  <%= link_to "Sign up now!", signup_path%>
</div>
<% end %>