
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
            <%= will_paginate @problems, renderer: BootstrapPagination::Rails, class: "pager" %>
            <ul>
            <% @problems.each do |problems| %>
                <h3 class="post-preview">
                <%= link_to problems.name, problems %>
                </h3>
              <% end %>
            </ul>
            <%= will_paginate @problems, renderer: BootstrapPagination::Rails, class: "pager"  %>s
            </div>
        </div>
    </div>
</div>