<div class="embed-responsive embed-responsive-16by9 iframe">
<iframe class="embed-responsive-item" src = "<%= path = @problem.file_name[0].to_s %>"></iframe>
</div>

<%= link_to "Submit solution", new_submission_path, class:"btn btn-info" %>