<div class="embed-responsive embed-responsive-16by9 iframe">
<iframe class="embed-responsive-item" src = "<%= path = @problem.file_name[0].to_s %>"></iframe> %>
</div>

<%= link_to "Submit solution", new_problem_submission_path(@problem), class:"btn btn-info" %>