<li class="list-group-item">
	<%= link_to gravatar_for(user),user, size: 50 %>
	<%= link_to user.name, user,class: "btn btn-lg btn-info"%>
	<% if current_user.admin? && !current_user?(user) %>
	| <%= link_to "delete", user, method: :delete, data: { confirm: "You sure" },class: "btn btn-danger"%>
	<% end %>
</li>