<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate , previous_label: '&laquo;' ,next_label: '&raquo;'%>

<ul>
  <%= render @users %>
</ul>

<%= will_paginate , previous_label: '&laquo;' ,next_label: '&raquo;'%>
