<%= form_for @blog do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.text_area :content, placeholder: "Compose new blog...", rows: "5" %>
  </div>
  <%= f.submit "Post"%>
<% end %>