home<%= form_for(@blog) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.text_area :content, placeholder: "Compose new blog..." %>
  </div>
  <%= f.submit "Post"%>
<% end %>home