<%@problems = Problem.order("created_at desc").all%>

</ul> 
<div class="card">
  <div class="card-header text-center">
    New exercise
  </div>

    <table class="table table-striped">
	  
	<tbody>
          <% @problems.each do |probs| %>
          <tr>
            <td scope ="row"><%= link_to probs.name.titleize, probs %></td>
            <td>Posted <%= time_ago_in_words(probs.created_at)%> ago</td>
          </tr>
          <% end %>
        </tbody>  
	</table>
 
</div>




