<!-- <ul class="list-group">
  <li class="list-group-item list-group-item-secondary">New exercises</li>

  <li class="list-group-item ">This is a group item</li>
  <li class="list-group-item ">This is a group item</li>
  <li class="list-group-item ">This is a group item</li>
  <li class="list-group-item ">This is a group item</li>
  <li class="list-group-item ">This is a group item</li>
</ul> -->
<div class="card">
  <div class="card-header text-center">
    New exercise
  </div>

    <table class="table table-striped">
	  
	  <tbody>
	    <tr>
	      <td scope="row">Exercise 1</td>
	      <td>1/5/2018</td>
	    </tr>
	    <tr>
	      <td scope="row">Exercise 2</td>
	      <td>2/5/2018</td>
	    </tr>
	    <tr>
	      <td scope="row">Exercise 2</td>
	      <td>2/5/2018</td>
	    </tr>
	    <tr>
	      <td scope="row">Exercise 2</td>
	      <td>2/5/2018</td>
	    </tr>
	    <tr>
	      <td scope="row">Exercise 2</td>
	      <td>2/5/2018</td>
	    </tr>
	    <tr>
	      <td scope="row">Exercise 2</td>
	      <td>2/5/2018</td>
	    </tr>
	  </tbody>

	</table>
 
</div>




