// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blogs {
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0;
      border-bottom: 1px solid #00c54d;
    }
    .user {
      margin-top: 5em;
      padding-top: 0;
      font-size:12px;
      color: #a5a0a0;
      a {
  
          color:#6343AA;
  
      }
    }
    .content {
      display: block;
      margin-top:10px;
      img {
        display: block;
        padding: 5px 0;
      }
    }
    .timestamp {
      color: #a5a0a0;
      display: inline;
      font-size:12px;
    }
    .gravatar {
      margin-right: 10px;
      margin-top: 5px;
      height:37px;
      float:left;
    }
  }
  
  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }
  
  span.picture {
    margin-top: 10px;
    input {
      border: 0;
    }
  }
  
  .blogFeedTitle {
      
      color:#00c54d;
      font-weight:light;
      letter-spacing: -1.5px;
  
  }
  
  #LeftSide {
    
    float:left;
  
  }

  #RightSide {

    h5 { 

      padding-top:5px;
      font-size:30px;
      a {

        color:#212529;
        &:hover {

        color:#007bff;
        text-decoration:none;

        }

      }
      
    }

  }
