// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.submitBasicLabel {

	margin-top:10px;

}

.veryfirstLabel {
	
	padding-top:10px;

}

.buttonsummit {
	
	margin-top:10px;

}

