<footer class="footer footer-page bg-light">
  <div class="container">

		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<div>

					© OnlineJudge Ruby on Rails

				</div>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<div>

					 <a >Design & Development by KOMPANY BOIZ NDA, LLD, CSD, BTS, LDS</a>

				</div>

			</div>

		</div>

	</div>
</footer>