<footer>
  <nav>
    <ul>
    
      <li><a href="#">This is a footer, not a fotter</a></li>
      <li><%= link_to "NDA",   about_path %></li>
      <li><%= link_to "Bleh", contact_path %></li>
    </ul>
  </nav>
</footer>